html, body {
	height:100%;
	margin:0;
	padding:0;
}  
body {
	background:url(../images/bg.jpg) no-repeat center;
	-moz-background-size:100%;
	-webkit-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-color:#000000;
	color:#fff;
	font-family:Arial;
	font-size:14px;
}
.page-wrapper {
	min-height:100%;
	margin-bottom:-272px;
}
* html .page-wrapper {
	height:100%;
}
.page-buffer {
	height:272px;
}
.buttonDownload {
	text-align:center;
}
.clear{
	clear:both;	
}
a{color:#fff}
#footer {
  position: absolute;
  bottom: 0;
  margin:auto 0px;
  width:100%;
  text-align:center;
  height:100%;
}