/*Back to top button */
#back-top{
	position:fixed;
	bottom:50px;
	left:50%;
	margin-left:530px
}

#back-top a{
	width:43px;
	display:block;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
}


#back-top span{
	width:43px;
	height:43px;
	display:block;
	background:url(../img/iconTop.png) no-repeat center center;
}