/* Tiny Carousel */
img {
	border:0px;	
}
#sliderProducts 
{ 	height: 1%; 
	overflow:hidden; 
	padding: 0 0 0px;
	margin-top:0px;
}
#sliderProducts .viewport 
{	
	width: 100px; 
	height: 460px; 
	overflow: hidden; 

}
#sliderProducts .buttons 
{ 
	background:url("../img/slider_buttons.png") no-repeat scroll 0 0 transparent; 
	display: block; 
	margin: 0px 0px 0px 0px; 
	background-position: 0px 0px; 
	text-indent: -999em; 
	width: 61px; 
	height: 14px; 
	overflow: hidden; 
	}
#sliderProducts .next  { 	
	background-position: bottom; 
	margin: 2px 0 0 0px;  
}
.sliderButton {
	margin-left:15px;
	margin-top:1px;
	margin-bottom:1px;	
}
#sliderProducts .disable { visibility: hidden; }
#sliderProducts .overview 
{ 	list-style: none; 
	position: relative; 
	padding: 0; 
	margin: 0; 
	width: 90px; 
	left: 0;
	top: 0; 
	}
.overview table tr td {
	text-align:center;
	width:90px;
	height:92px;
}
.overview img {
	border:1px solid #fff;
}
#sliderProducts .overview >div
{   float: left; 
	margin: 0 0px 0 0; 
	padding-right: px;
	padding-left: 0px;	 
	height: 90px; 
	/*border: 1px solid #dcdcdc;*/
	width: 90px;}
#sliderProducts .overview .overview_text
{   padding: 0px; 
	height: 90px; 
	/*border: 1px solid #dcdcdc;*/
	position:absolute;
	bottom:0px;
	font-size:13px;
	font-weight:bold;
	}
