.slides {
	padding:0px !important;
	margin:0px !important;	
}
.slides section {
	padding:0px !important; 
	margin:0px !important;
	}
.GraphGreen {
	width:1px; height:19px; background-image:url('../images/colGreen.jpg'); background-repeat:repeat-x; opacity:0;	
}
.GraphRed {
	width:1px; height:19px; background-image:url('../images/colRed.jpg'); background-repeat:repeat-x; opacity:0;
}
.GraphBlue {
	width:1px; height:19px; background-image:url('../images/colBlue.jpg'); background-repeat:repeat-x; opacity:0;
}

.GraphPr1 {
	float:left; width:37px; height:19px; background-image:url('../images/pr1.png'); opacity:0;
}
.GraphPr2 {
	float:left; width:37px; height:19px; background-image:url('../images/pr2.png'); opacity:0;
}
.GraphPr3 {
	float:left; width:37px; height:19px; background-image:url('../images/pr3.png'); opacity:0;
}

.GraphTitle1 {
	float:left; width:236px; height:17px; background-image:url('../images/title1.png'); margin-right:20px; opacity:0;
}
.GraphTitle2 {
	float:left; width:201px; height:17px; background-image:url('../images/title2.png'); margin-right:20px; opacity:0;
}
.GraphTitle3 {
	float:left; width:178px; height:17px; background-image:url('../images/title3.png'); margin-right:20px; opacity:0;
}
